@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 700;
  font-display: swap;
  src: url("../fonts/Inter-Bold.woff2") format("woff2"),
       url("../fonts/Inter-Bold.woff") format("woff");
}
@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 900;
  font-display: swap;
  src: url("../fonts/Inter-Black.woff2") format("woff2"),
       url("../fonts/Inter-Black.woff") format("woff");
}

@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/Inter-Regular.woff2") format("woff2"),
       url("../fonts/Inter-Regular.woff") format("woff");
}

.page {
  background-color: #2A2C2F;
  max-width: 1280px;
  margin: 0 auto;
  font-family: "Inter", Arial, sans-serif;
  font-weight: 400;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
   text-rendering: optimizeLegibility;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 28px 48px 56px 52px;
}

.header__logo {
  width: 176px;
  height: 52px;
}

.header__lang-links {
  display: flex;
  align-items: flex-end;
  list-style: none;
  padding: 0;
  margin: 0;
}

.header__lang-link {
  font-size: 24px;
  line-height: 28px;
  color: #FFFFFF;
  text-decoration: none;
  margin-left: 18px;

}

.header__lang-link_active {
  text-decoration: underline;
}

@media (max-width:1024px) {
  .header {
    padding: 28px 48px 48px;
  }
}

@media (max-width:768px) {
  .header {
    padding: 28px 24px 48px;
  }
}

@media (max-width:320px) {
  .header {
    padding: 16px 16px 48px;
  }

  .header__logo {
    width: 142px;
    height: 42px;
  }

  .header__lang-link {
    font-size: 18px;
    line-height: 20px;
  }
}

.lead {
  max-width: 984px;
  margin: 0 auto;
  padding-bottom: 92px;
}

.lead__title {
  font-weight: 900;
  font-size: 96px;
  line-height: 100px;
  text-align: center;
  color: #FFFFFF;
  margin: 0 auto;
  padding-bottom: 32px;
}

.lead__subtitle {
  max-width: 640px;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  color: #FFFFFF;
  margin: 0 auto;
  padding-bottom: 64px;
}

.lead__image {
  width: 100%;
  padding-bottom: 8px;
}

.lead__caption {
  font-size: 10px;
  line-height: 14px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  color: #FFFFFF;
  margin: 0;
  padding: 0;
}

@media (max-width:1024px) {
  .lead {
    max-width: 928px;
  }

  .lead__subtitle {
    padding-bottom: 56px;
  }
}

@media (max-width:768px) {
  .lead {
    padding-bottom: 88px;
  }
  .lead__caption {
    margin-left: 24px;
  }
}

@media (max-width:680px) {
  .lead__title {
    font-size: 50px;
    line-height: 54px;
    padding-bottom: 16px;
  }
}

@media (max-width:320px) {
  .lead {
    padding-bottom: 64px;
  }

  .lead__title {
    font-size: 40px;
    line-height: 44px;
    padding-bottom: 16px;
  }

  .lead__subtitle {
    max-width: 288px;
    font-size: 16px;
    line-height: 20px;
    padding-bottom: 40px;
  }

  .lead__caption {
    margin-left: 16px;
  }
}

.intro {
  max-width: 984px;
  color: #FFFFFF;
  margin: 0 auto;
  padding-bottom: 92px;
}

.intro__title {
  display: block;
  max-width: 690px;
  font-weight: 900;
  font-size: 54px;
  line-height: 58px;
  margin: 0;
  padding-bottom: 40px;
}

.intro__text {
  display: block;
  max-width: 690px;
  font-size: 16px;
  line-height: 163%;
  margin: 0;
  padding-bottom: 33px;
}

.intro__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.intro__list-item {
  font-size: 12px;
  line-height: 18px;
}

.intro__span-accent {
  font-weight: bold;
  font-size: 12px;
  line-height: 18px;
}
@media (max-width:1024px) {
  .intro {
    max-width: 928px;
  }
}
@media (max-width:768px) {
  .intro {
    max-width: 720px;
    padding-bottom: 88px;
  }

  .intro__text {
    max-width: 720px;
  }
}

@media (max-width:320px) {
  .intro {
    max-width: 288px;
    padding-bottom: 64px;
  }

  .intro__title {
    font-size: 32px;
    line-height: 35px;
  }

  .intro__text {
    font-size: 16px;
    line-height: 163%;
    margin: 0;
    padding-bottom: 34px;
  }
}

.photo-grid {
  max-width: calc(100% - 96px);
  margin: 0 auto;
  padding-bottom: 82px;
}

.photo-grid__items {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
  gap: 16px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.photo-grid__item {
  width: 100%;
  object-fit: cover;
}

@media (max-width:1024px) {
  .photo-grid {
    padding-bottom: 72px;
  }
  .photo-grid__items {
    gap: 14px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
}

@media (max-width:768px){
  .photo-grid {
    max-width: calc(100% - 48px);
  }
}

@media (max-width:320px){
  .photo-grid {
    max-width: 288px;
    padding-bottom: 64px;
  }
  .photo-grid__items {
    gap: 8px;
    grid-template-columns: repeat(auto-fit, minmax(288px, 1fr));
  }
}

.places {
  max-width: 984px;
  margin: 0 auto;
  /*display: grid;*/
  color: #FFFFFF;
  padding-bottom: 92px;
}
.place {
  display: grid;
  align-items: end;
  column-gap: 40px;
  grid-template-columns: 460px 1fr;
  padding-bottom: 80px;
}

.place__title {
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  margin: 0;
  padding-bottom: 48px;
}
.place__image {
  width: 100%;
  grid-row: 2/5;
  align-self: flex-start;
}
.place_website {
  align-self: flex-end;
  margin-bottom: 48px;
}
.place__url-heading {
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 2px;
  color: #AAAAAA;
  text-transform: uppercase;
  margin: 0 0 12px;
}
.place__link {
  font-size: 18px;
  line-height: 22px;
  text-decoration-line: underline;
  color: #FFFFFF;
}
.place__paragraph {
  align-self: start;
  margin: 0;
  font-size: 18px;
  line-height: 163%;
  margin-bottom: 26px;
}

.place__paragraph:last-child {
  margin-bottom: 0;
}

@media (max-width: 1024px) {
  .places {
    max-width: 90.625%;
  }

  .place {
    column-gap: 32px;
    grid-template-columns: 440px 1fr;
   }
}

@media (max-width: 768px) {
  .places {
    max-width: calc(100% - 48px);
  }
  .place {
    grid-template-columns: 340px 1fr;
    column-gap: 28px;
    padding-bottom: 73px;
    align-items: start;
   }
  .place__title {
    font-size: 42px;
    line-height: 46px;
   }
   .place_website {
    align-items: flex-start;
   }
   .place__url-heading{

   }
  .place__paragraph {
    font-size: 16px;
    line-height: 163%;
    margin-bottom: 25px;
  }
}

@media (max-width: 610px){
  .place {
    grid-template-columns: 1fr;
  }
  .place__title {
    padding-bottom: 32px;
  }
  .place_website {
    grid-row: 2/3;
    margin-bottom: 32px;
  }
  .place__image {
    grid-row: 3/4;
    margin-bottom: 32px;
  }
}

@media (max-width: 320px) {
  .places {
    max-width: 100%;
    padding-bottom: 66px;
  }
  .place {
    padding-bottom: 50px;
  }
  .place__title {
    font-size: 32px;
    line-height: 35px;
    margin-left: 16px;
  }
  .place_website {
    margin-left: 16px;
  }
  .place__paragraph {
    max-width: 288px;
    margin: 0 auto;
    margin-bottom: 25px;
  }
}
