.cover {
  max-width: calc(100% - 96px);
  margin: 0 auto;
  position: relative;
  padding-bottom: 92px;
}

@media (max-width: 1024px) {
  .cover {
    max-width: 1024px;
  }
}

@media (max-width: 768px) {
  .cover {
    padding-bottom: 88px;
  }
}

@media (max-width: 320px) {
  .cover {
    padding-bottom: 64px;
  }
}
