.footer {
  display: flex;
  justify-content: space-between;
  color: #FFFFFF;
  max-width: 1174px;
  margin: 0 auto;
  padding-bottom: 24px;
}

@media (max-width: 1024px) {
  .footer {
    max-width: 928px;
  }
}

@media (max-width: 768px) {
  .footer {
    max-width: 720px;
  }
}

@media (max-width: 525px) {
  .footer {
    flex-direction: column;
  }
}

@media (max-width: 320px) {
  .footer {
    margin-left: 16px;
  }
}
